mixin user-video-comment(user, comment)
    div.user-video-comment
        a(href=`/users/${user._id}`)
            img(src=user.avatar_url).user-video-comment__comment-avatar
        div(data-id=comment._id).user-video-comment__container
            span #{user.nickname} • #{new Date(comment.create_at).toLocaleDateString("ko-kr", {year: 'numeric', month: 'long', day: 'numeric', hour:'2-digit'})}
            span.user-video-comment__text #{comment.text}
            div.user-video-comment__update.display-none
                input(type="text", value=comment.text).user-video-comment__update-text
                button.user-video-comment__update-save-btn 저장
            div(data-id=comment._id).user-video-comment__state-btn
                if isLoggedIn
                    if comment.isLiked
                        button.user-video-comment__like-btn.liked
                            i.fas.fa-thumbs-up.fa-lg
                            span #{comment.likeCount}
                        button.user-video-comment__sub-visible-btn 답글
                        if String(loggedInUser._id) === String(comment.owner._id)
                            button.user-video-comment__update-btn 수정 
                            button.user-video-comment__delete-btn 삭제 
                    else    
                        button.user-video-comment__like-btn
                            i.far.fa-thumbs-up.fa-lg
                            span #{comment.likeCount}
                        button.user-video-comment__sub-visible-btn 답글 
                        if String(loggedInUser._id) === String(comment.owner._id)
                            button.user-video-comment__update-btn 수정 
                            button.user-video-comment__delete-btn 삭제 
            div.user-video-comment__sub-container.display-none
                span
                div
                    input(type="text", placeholder="댓글 추가..." ,maxLength="150").user-video-comment__sub-input
                    button(data-id=comment._id).user-video-comment__sub-btn 댓글
            div.user-video-comment-sub
                button(data-id=comment._id).user-video-comment__add-sub-comment-btn
                    i.fas.fa-caret-down.fa-lg
                    span 답글
                    span.user-video-comment__sub-comment-count #{comment.subCount}
                    span 개