extends ../../templates/main

block headers
    include ../../partials/header
block contents
    span.title Edit Video
    form(method="POST", id="video-form", enctype="multipart/form-data", data-id=video._id, data-user_id=userId).video-form
        div.video-form__container
            img(src=video.thumbnail_url).video-form__thumbnail
            span.video-form__video-name
            input(type="file", id="userVideo", name="userVideo", accept="video/*").video-form__video.display-none
            input(type="file", id="thumbnail", name="thumbnail", accept="image/jpg, image/jpeg, image/png").video-form__video-thumbnail.display-none
            div
                label(for="userVideo").video-form__video-label 비디오
                label(for="thumbnail").video-form__thumbnail-label 비디오 이미지
        input(type="text", name="title" placeholder="Title", maxLength="50", value=video.title).video-form__title
        textarea(name="description", placeholder="Description", maxLength="400").video-form__description #{video.description}
        span.video-form__hashtags-guide , 로 구분하여 입력
        input(type="text", name="hashtags" placeholder="Hashtags (최대 5개 등록 가능합니다.)", maxLength="90", value=video.hashtags.map((word) => (word.startsWith("#") ? word.substring(1) : word)).join()).video-form__hashtags
        span.vidoe-form__hashtags-result #{video.hashtags.join()}
        input(type="submit", value="Edit")
    div.user-video-edit__delete-div
        button.user-video-edit__delete-btn delete
block scripts 
    script(src="/assets/js/user-videos/edit.js") 
