extends ../../templates/main
include ../../mixins/side-user-video
include ../../mixins/user-video-comment

block headers
    include ../../partials/nav-header
block contents 
    div.watch-user-video(data-id=loggedInUser ? loggedInUser._id : "")
        div 
            div(data-id=video._id).watch-user-video__container
                video(src=`/${video.file_url}`, controls="controls").watch-user-video__video
        div.watch-user-video__side-video-container
            each sideVideo in sideVideos
                +side-user-video(sideVideo)
    div.watch-user-video__info
        span.watch-user-video__title=video.title
        div(data-id=video.owner._id).watch-user-video__user-info
            div
                a(href=`/users/${video.owner._id}`)
                    if video.owner.avatar_url.startsWith("http") 
                        img(src=video.owner.avatar_url).watch-user-video__avatar
                    else 
                        img(src=`/${video.owner.avatar_url}`).watch-user-video__avatar
                div.watch-user-video__owner-info
                    a(href=`/users/${video.owner._id}`) 
                        span=video.owner.nickname
                    div 
                        span.watch-user-video__subscribe_cnt #{video.owner.subscriberCount}
                        span  명
            if isLoggedIn
                div 
                    if String(loggedInUser._id) === String(video.owner._id)
                        a(href=`/user-videos/${video._id}/edit`) 
                            button.watch-user-video__edit-btn Edit
                    if isLiked
                        button.watch-user-video__like-btn.clicked
                            span #{video.likeCount.toLocaleString('ko-KR')}
                            span 좋아요
                            i.far.fa-thumbs-up.fa-lg    
                    else 
                        button.watch-user-video__like-btn
                            span #{video.likeCount.toLocaleString('ko-KR')}
                            span 좋아요
                            i.far.fa-thumbs-up.fa-lg    
                    if String(loggedInUser._id) !== String(video.owner._id)
                        if isSubscribed
                            button.watch-user-video__subscribe-btn.clicked 구독중
                        else 
                            button.watch-user-video__subscribe-btn 구독
        div.watch-user-video__meta
            div
                span 조회수 #{video.views}회
                span  • 
                span #{new Date(video.create_at).toLocaleDateString("ko-kr", {year: 'numeric', month: 'long', day: 'numeric'})}
            div
                span #{video.description}
            div
                each hashtag in video.hashtags
                    a(href="") 
                        span.watch-user-video__hashtags #{hashtag}, 
    div.user-video-comments
        span 댓글 
        span.user-video-comments__number-of-comments #{video.comments.length + video.comments.reduce((acc, cur) => { return acc + cur.subCount;}, 0)}
        span 개
        if isLoggedIn
            div(data-id=loggedInUser._id).user-video-comments__comment-box
                div
                    if loggedInUser.avatar_url.startsWith("http")
                        img(src=loggedInUser.avatar_url).user-video-comments__avatar
                    else 
                        img(src=`/${loggedInUser.avatar_url}`).user-video-comments__avatar
                    span.user-video-comments__nickname #{loggedInUser.nickname}
                div 
                    input(type="text", placeholder="댓글 추가...", maxLength="150").user-video-comments__input
                    button.user-video-comments__input-btn 댓글
    div.user-video-comments__mixin
        each comment in video.comments
            +user-video-comment(comment.owner, comment)
block scripts 
    script(src="/assets/js/user-videos/watch.js")